body {
    margin:0 ;
    display: flex;
    flex-direction:column ;
}
#EmploymentDetails{
    font-size: 150%;
    font-style: italic;
    text-shadow: 2px 2px 5px rgb(57, 160, 245);


}
#h1 {
    display: flex;
    font-size:250%;
    font-family: 'Courier New', Courier, monospace;
    margin:0;
    word-spacing: 200px;
    padding-left: 5%;
    background-color: #9DC08B;
    color: #ffffff;
    text-shadow: 2px 2px 5px rgb(57, 245, 91);
    
}

#main {
    padding-top: 2%;
    padding-bottom: 9%;
    display: flex;
    flex-direction: column;
    background-color: #EDF1D6;
}

#form {

}


#sec1 ,#sec2,#sec3,#sec4{
    
    padding: 1%;
    margin: 1%;
    background-color: rgb(35, 91, 25);
    
}
#nav1 {
    display: flex;
}
#footer {
display: flex;
background-color: #609966;
}
footer  h3 {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 35%;
    color: #f0f4d5;
    
    

}

#form label {
    font-size: 130%;
    font-style: inherit;
    text-shadow: 2px 2px 5px rgb(187, 239, 163);;
} 

#Image {
    width: 20% ;
}
#Department {
    width: 20.5%;
}
#Name {
    width: 20%;
}
#Level {
    width: 20.4%;
}
#h2f {
    font-size: 130%;
    font-style: italic;
    color: black;
    margin-left: 1%;
}
